<h4>Download</h4>

<form method="post">
    <a href="~Uploads/SoftCopies/@ViewBag.File" download="File">
        <input type="submit" value="Download" />
    </a>
    
    <input type="hidden" />|
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</form>
