@model List<BookClub.Models.AddMessage>
@using Humanizer
<h1>Inbox</h1>
    <table class="table">
        <tr>
            <th>From</th>
            <th>Message</th>
            <th>Date</th>
            <th></th>
            
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>@item.UserId</td>
            <td>@item.Message</td>
            <td>@item.Date.Humanize()</td>
            <td>
                <a asp-controller="Message" asp-action="Send" asp-route-id="@item.UserId">Reply</a>|
            </td>
        </tr>
        }
    </table>
