@model BookClub.ViewModels.AddBookViewModel
<form asp-controller="Book" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input class="form-control" asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>

    <div class="form-group">
        <label asp-for="Author"></label>
        <input class="form-control" asp-for="Author" />
        <span asp-validation-for="Author"></span>
    </div>

    <div class="form-group">
        <label asp-for="BookCategoryID"></label>
        <select asp-for="BookCategoryID" asp-items="Model.BookCategories"></select>
    </div>
    <input type="submit" value="Add Book"/>
</form>
