<h4>Are you sure you want to delete the book?</h4>

    <form method="post">
       
        <input type="submit" value="Remove" />
        <input type="hidden" />|
        <a asp-controller="Book" asp-action="Index">Back to List</a>
    </form>

